.page-header {
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  /* position: fixed; */
}
/* .container .header-container {
  position: fixed;
} */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  top: 0; */
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
  text-decoration: none;
  /* display: flex; */
}
.header-logo span {
  color: #4d5ae5;
}
.header-nav {
  flex-grow: 1;
  padding-right: 340px;
}
.header-nav-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
}
.header-nav .link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;

  transition-property: transform;
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: #404bbf;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-list .link:active:after {
  /* display: inline-block; */
  /* display: flex; */
  content: '';
  /* border: 1px solid #000; */
  border-radius: 2px;
  /* width: 65px; */
  width: 100%;
  /* width: 100%; */
  height: 4px;
  /* height: 4px; */
  background-color: #404bbf;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address-list {
  display: flex;
  column-gap: 40px;
}
.header-address .link:hover,
.header-address .link:focus {
  color: #404bbf;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
